@media screen and (min-width: 400px) {

html{
	scroll-behavior: smooth;
}

/*header*/
header{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-attachment: fixed;     
	background-position: center;  
	background-repeat: no-repeat; 
	background-size: cover;       
	color: white;
	height: 130px;                
	background-image: url("../images/scenery.jpg");
}

nav{
	text-align: center;
	width: 100%;
	display:flex;
	flex-direction: row;
	justify-content: center;
	font-size: 15px;
}

nav a{
	color: blue;
	padding: 5px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

nav a:hover{
	color: red;
	font-weight: bold;
	text-decoration: underline;
}

/* body text */
body{
	font-family: 'Raleway', sans-serif;
	color: black;
}

/* headers */
h1, h2{
	text-align: center;	
	font-weight: bold;
	font-size: 20pt;
	padding-top: 40px;
}

/* paragraphs */
p{
	text-align: center;
	font-size: 10pt;
	padding: 10px;
}

/*text links*/
a{
	color: blue;
}

a:hover{
	font-weight: bold;
	color: red;
	text-decoration: underline;
}

/* galleries */
.gallery{
	min-height: 700px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;
}

.gallery img{
	border: 10px turquoise solid;
	margin: 15px;
	width: 300px; 
	max-height:700px;
}

/* contact */
form{
    width: 250px;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
  }
  form label{
    font-size: 20px;
    font-weight: bold;
  }
  input{
    background:#black;
    width: 200px;
    border: line;
    padding: 5px;
    margin-bottom: 5px;
    text-align: left;
  }
  fieldset div{
   border: 2px solid white;
   margin: 2%;
   padding: 1%;
   border-radius: 5px;
  }
  input[type=submit]{
    border: 2px solid black;
    width: 120px;
    text-align: center;
    border-radius: 5px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }
  input:focus{
    background: #C0C0C0;
  }

/* footer */
footer{
	background-color: black;
	color: white;
	padding: 10px;
	text-align: center;
}
}

 /* grid */


/* media queries */
@media screen and (min-width: 750px) {
	body, #about, #academics, #ff, #contact {
		font-size: 20px;
		background: white;
	}
	nav{
		text-align: center;
		width: 100%;
		display:flex;
		flex-direction: row;
		justify-content: center;
		font-size: 15px;
	}
	
	nav a{
		color: blue;
		padding: 5px;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	
	nav a:hover{
		color: red;
		font-weight: bold;
		text-decoration: underline;
	{}

/* reduced Mmtion */
@media screen and (prefers-reduced-motion: reduce) {
	/* Remove bold from nav bar */
	.nav a:hover{
	  font-weight: unset;
	}
	/* Display "Skip to Main Content" */
	.skip a{
	  -webkit-transition: none;
	  transition: none;
	}
	/* Remove bold from links */
	.nav_links a:hover{
	  font-weight: unset;
	}
