html{
	scroll-behavior: smooth;
}

/* navbar */
/*
header{
	background: black;
	display:flex;
	flex-direction:row;
	padding: 10px;
	justify-content: center;
}
*/
header{
  background-attachment: fixed; /* Parallax effect */     
  background-position: center;  /* Parallax effect */
  background-repeat: no-repeat; /* Parallax effect */
  background-size: cover;       /* Parallax effect */
  color: yellow;
  height: 100px;                /* Parallax effect */
  background-color: red; /*Set background-image or background-color*/
  /*grid-column: 1 / -1;  Can you explain what this does?*/
  /*grid-row: 1 / auto;   Can you rewrite it?*/
}

.main_nav, .extra_nav{
	display:flex;
	flex-direction: row;
	padding: 5px;
	justify-content: center;
	font-size: 20px;
}

.nav_item a:hover, .main_nav a:hover{
	color: red;
	text-decoration: underline;
	-webkit-text-decoration-style: underline;
			text-decoration-style: underline;
}

.main_nav a{
	color: green;
	padding: 10px;
	width: 25%;
}

.extra_nav .nav_item{
	color: blue;
	padding: 10px;
	width:25%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

/* body text */

body{
	font-family: 'Raleway', sans-serif;
	font-size: 16pt;
}

/* headers */
h1{
	text-align: center;	
	font-weight: bold;
	font-size: 30pt;
} 
h2, h3{
	padding-top: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 20pt;
}

/* paragraphs */
p{
	text-align: center;
	font-size: 12pt;
	padding: 10px;
}

main{
	border: 1px solid gray;
}

/* galleries */
.gallery{
	min-height: 600px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: stretch;
}

img{
	border: 10px #50C7C7 solid;
	margin: 10px;
	width: 300px;
}

/* footer */
footer{
	background-color: black;
	color: white;
	padding: 10px;
	text-align: center;
}