/* navbar */
header{
	background: black;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.nav_links{
	display: flex;
	flex-direction: row;
}

.nav_links a{
	color: blue;
	padding: 10px;
	width: 25%;
}

.nav_item a:hover, .nav_links a:hover{
	color: red;
	text-decoration: underline;
	-webkit-text-decoration-style: underline;
			text-decoration-style: underline;
}

body{
	font-family: 'Raleway', sans-serif;
	margin:2%;
	padding:2%;
	font-size: 16pt;
}

h1{
	text-align: center;	
	font-weight: bold;
	font-size: 30pt;
} 

h2{
	text-align: center;
	font-weight: bold;
	font-size: 20pt;
}

p {
	text-align: center;
	font-size: 12pt;
	padding: 30px;
}

header, main, nav{
	border: 1px solid grey;
	margin-bottom: 10px;
}

img{
    height: 200px;
    width:inherit;
    border: 3px solid blue;
    padding: 25px;
    border-radius: 10px;
    margin: 10px;
}

.gallery{
	min-height: 600px;
	display: flex;
	flex-wrap: wrap;
	align-content: stretch;
	justify-content: space-around;
}

footer{
	background-color: black;
	color: white;
	padding: 30px;
	text-align: center;
}